* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: slategrey;
}

.sudoku-holder {
    width: 50vh;
    height: 50vh;
}

.container-9x9 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.sudoku-small-square {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.command-panel {
    display: flex;
    flex-direction: row;
}

.numpad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.number-display {
    border-radius: 100px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height: 55px;
    width: 55px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

.number-display > *:first-child {
    font-size: x-large;
}

.number-display > *:last-child {
    font-size: x-small;
}

.selected-square {
    border-color: snow;
    border-width: 2px;
    border-style: dashed;
}

.known-number {
    background-color: beige;
}

.note-holder {
    font-size: x-small;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}