* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: slategrey;
}

.sudoku-holder {
    margin: 5px;
    width: 50vh;
    height: 50vh;
}

.container-9x9 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.sudoku-small-square {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.command-panel {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    height: 30vh;
    width: 100vw;
}

.numpad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.number-display {
    border-radius: 100px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height: 55px;
    width: 55px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin: 2px;
}

.number-display > *:first-child {
    font-size: x-large;
}

.number-display > *:last-child {
    font-size: x-small;
}

.selected-square {
    border-color: snow;
    border-width: 2px;
    border-style: dashed;
}

.known-number {
    background-color: beige;
}

.note-holder {
    font-size: x-small;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.numpad-panel {
    display: flex;
    flex-direction: row;
    width: 66%;
    justify-content: space-evenly;
}

nav {
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: large;
    padding-left: 16px;
}

.lang-select {
    display: flex;
    flex-direction: row;
    margin-right: 11px;
}

.lang-select > * {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.nav-actions {
    display: flex;
    flex-direction: row;
}

.nav-actions > #help {
    margin-right: 16px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 95vh;
}

.command-select-option {
    display: none;
}


.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    height: 80%;
}

.mode-panel {
    /* width: 35vw; */
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 16px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    justify-content: space-between;
    gap: 6px;

}


input[type="button"] {
    background-color: transparent;
    border-radius: 8px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 4px;
    width: 100%;
}

/* ONLY IF SMARTPHONE */
@media screen and (max-width: 768px) {

        
    .sudoku-holder {
        width: 98vw;
        height: 98vw;
    }

    .hidden {
        display: none;
    }

    .command-select {
        display: flex;
        flex-direction: row;
        width: 80vw;
        justify-content: space-evenly;
    }

    .command-select-option {
        display: block;
        border-radius: 100px;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        padding: 8px;
        cursor: pointer;
    }

    .selected {
        border-color: snow;
        border-width: 2px;
        border-style: dashed;   
    }

    .panel {
        width: 80vw;
    }

    .numpad-panel {
        justify-content: space-evenly;
        width: 100vw;

    }

    .command-panel {
        justify-content: center;
    }

}

